# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment folders
env/
venv/
.conda/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Large datasets (optional)
*.zip

# Streamlit cache
.streamlit/

# Temporary files
*.log
